<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary"></i>
                    <h3>Game Design</h3>
                    <p class="text-muted">We build games that use experimental game mechanics.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Web Design</h3>
                    <p class="text-muted">With our Web Design services, our team can build you or your company a beautiful website</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Software Development</h3>
                    <p class="text-muted">With our Software Development services, our team can build custom software for your company. We also build useful applications for a variety of platforms.</p>
                </div>
            </div>
        </div>
    </div>
</section>
